body {
    font-size: 0.875rem;
}

h5 {
    font-size: 1.25rem;
}

.btn-link {
    font-size: 1.125rem;
}

.subarea-button, .unit-button {
    font-size: 0.875rem;
}

.table-sm {
    font-size: 0.75rem;
}

.table th, .table td {
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .table {
        font-size: 0.6rem;
    }
}
