# --- Dependencies ---
node_modules
.next
.env
npm-debug.log*

# --- Database & Storage (NO SUBIR) ---
data/chroma_db
*.sqlite3
*.sqlite3-journal
*.bin
brain_dump.json
storage/
public/mep-docs/cerebro_mep

# --- System ---
.DS_Store
Thumbs.db
